/* Small Devices */
@media screen and (max-width: 520px) {
  .project-title {
    font-size: 2.25rem;
  }
  .card0 figure img {
    width: 200px;
  }
  .card0 figure:hover img {
    width: 250px;
  }
  .slider {
    height: 35rem;
  }
  .content {
    font-size: 0.7rem;
  }
  .card-projects {
    width: 90%;
  }
  .text {
    padding: 0.2rem 0.2rem;
  }
  .proj-btn .btn-text {
    padding: 0 0.5rem;
  }
}
@media screen and (max-width: 720px) {
    .slider {
       
        height: 30rem;
        
      }
      
      .slide {
       
        height: 30rem;
    
      }
      
  }
  